<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read User</title>
</head>

<body>
    <button><a class="" href="/crud">Thêm tài khoản</a></button>
    <h1>Data Table</h1>
    <table>
        <thead>
            <tr>
                <th>email</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>address</th>
                <th>gender</th>
                <th>phoneNumber</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (const item of items) { %>
                <tr>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.firstName %>
                    </td>
                    <td>
                        <%= item.lastName %>
                    </td>
                    <td>
                        <%= item.address %>
                    </td>
                    <td>
                        <%= item.gender == 1 ? 'nam' : 'nu' %>
                    </td>
                    <td>
                        <%= item.phoneNumber %>
                    </td>
                    <td>
                        <a href="/edit-user/<%= item.id %>">Sửa</a>
                        <form action="/delete-user/<%= item.id %>" method="post">
                            <button type="submit">Xóa</button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>